In [2]:
import pandas as pd

data=pd.read_csv('large_cap.csv')
data.drop('Date',axis='columns',inplace=True)
data

,AAPL,ABBV,ABT,ACN,ADBE,AMAT,AMD,AMGN,AMZN,ASML,...,TXN,UL,UNH,UNP,UPS,V,VZ,WFC,WMT,XOM
0,15.744738,NaN,22.065088,47.881710,32.540001,10.716327,7.280000,51.940601,182.259995,33.444141,...,25.562460,23.807947,47.345592,45.159241,56.939114,26.625946,24.579195,23.154430,47.690166,57.154263
1,15.689387,NaN,22.092596,48.202892,32.330002,10.876522,7.140000,52.018497,180.580002,33.270393,...,25.316664,23.771683,47.225754,45.280437,56.566460,27.129547,24.400393,22.877716,46.523129,57.385330
2,15.791832,NaN,22.116167,48.927624,32.970001,10.741619,7.290000,52.446842,178.889999,33.480331,...,25.593182,23.981987,47.020378,45.227924,57.117970,27.157532,24.349306,22.922586,46.475494,57.451359
3,15.975932,NaN,22.277252,49.125282,33.410000,10.648872,7.460000,52.750603,179.130005,33.523769,...,25.593182,23.684656,47.628025,45.498600,57.013626,27.404661,24.355688,22.571087,46.673958,57.662609
4,16.078384,NaN,22.237967,49.133511,33.270000,10.564558,7.470000,52.524746,178.529999,33.350033,...,25.431881,23.583134,47.696503,45.791027,57.214855,27.246119,24.349306,23.206783,46.411976,57.590012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2513,168.880005,143.000000,122.779999,326.130005,474.010010,131.860001,114.269997,224.270004,3103.340088,627.909973,...,162.470001,51.599998,474.399994,242.550003,212.446350,225.339996,53.270000,57.849998,133.949997,78.980003
2514,172.789993,144.759995,123.980003,329.410004,479.500000,139.839996,121.470001,223.940002,3130.209961,656.409973,...,166.169998,51.490002,478.230011,249.320007,215.692749,227.820007,53.360001,58.380001,134.369995,77.989998
2515,172.550003,145.869995,123.680000,333.720001,477.700012,140.960007,117.690002,222.660004,3162.010010,663.859985,...,168.240005,51.880001,480.049988,253.809998,213.756821,228.820007,53.400002,58.139999,133.529999,78.349998
2516,168.880005,144.970001,120.580002,322.910004,457.709991,136.470001,112.370003,221.679993,3093.050049,650.429993,...,164.649994,51.689999,470.339996,250.990005,209.190002,224.610001,53.580002,56.150002,138.880005,78.230003
2517,167.300003,144.029999,116.790001,321.179993,442.559998,133.350006,113.830002,220.770004,3052.030029,647.830017,...,166.740005,52.299999,467.809998,251.190002,209.360001,222.690002,53.830002,55.630001,137.990005,77.360001

In [4]:
import random

indeces=random.sample(range(len(data.columns)),25)
dset=data.iloc[:,indeces]
dset

,NKE,DE,AXP,CVS,AMZN,AMAT,BX,MCD,ACN,PTR,...,RTX,TSLA,BAC,RY,TMO,QCOM,WFC,BLK,BMY,V
0,23.390865,67.978828,45.784603,35.261658,182.259995,10.716327,8.914974,75.685074,47.881710,98.689560,...,41.822601,6.900000,7.017662,37.017685,53.549850,47.471500,23.154430,150.666687,24.009327,26.625946
1,23.564713,68.124161,45.732616,35.005260,180.580002,10.876522,8.926390,75.813118,48.202892,100.390900,...,41.817623,6.844000,6.879212,37.361588,53.473255,47.297588,22.877716,149.876663,23.942461,27.129547
2,23.656092,67.906151,45.628670,35.285702,178.889999,10.741619,8.909267,75.926109,48.927624,100.672211,...,41.588490,6.906000,6.939785,37.512905,53.741390,48.023483,22.922586,152.680466,24.031601,27.157532
3,23.689522,67.235962,46.200436,35.309727,179.130005,10.648872,9.120440,75.557014,49.125282,100.558365,...,41.827591,6.750000,6.818641,37.581680,54.258499,47.970551,22.571087,151.805237,24.217323,27.404661
4,23.885647,67.332855,46.936794,35.678310,178.529999,10.564558,9.017710,75.587173,49.133511,99.634003,...,41.658230,6.724000,6.957090,37.856812,54.038235,47.872257,23.206783,153.129623,24.254457,27.246119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2513,141.589996,387.260010,192.350006,103.000000,3103.340088,131.860001,121.199997,253.389999,326.130005,54.080002,...,93.570000,875.760010,47.419998,113.900002,561.190002,165.130005,57.849998,760.309998,66.809998,225.339996
2514,145.580002,393.399994,197.979996,102.970001,3130.209961,139.839996,124.949997,253.809998,329.410004,50.799999,...,94.040001,922.429993,47.790001,113.910004,556.669983,173.000000,58.380001,781.190002,67.769997,227.820007
2515,146.490005,390.559998,198.380005,103.940002,3162.010010,140.960007,126.779999,253.089996,333.720001,52.130001,...,94.750000,923.390015,47.680000,114.320000,550.349976,172.600006,58.139999,783.419983,67.599998,228.820007
2516,142.800003,380.529999,195.710007,102.300003,3093.050049,136.470001,122.629997,250.929993,322.910004,52.270000,...,94.360001,876.349976,46.070000,111.339996,540.539978,166.800003,56.150002,762.500000,67.389999,224.610001
2517,142.949997,369.100006,194.880005,102.129997,3052.030029,133.350006,123.860001,250.600006,321.179993,52.389999,...,93.370003,856.979980,45.959999,110.519997,537.140015,167.639999,55.630001,756.020020,67.550003,222.690002

In [53]:
import numpy as np
import strategy as s 

longRange=np.linspace(50,100,5,dtype=int)
shortRange=[int(l/3) for l in longRange]
pRange=[.0000000001,.000000001,.00000001,.0000001,.000001,.00001,.0001,.001,.01]

returns=[dset[ticker].pct_change() for ticker in dset.columns]
signals=[s.getBuySellSignals(r,shortRange,longRange,pRange,pRange) for r in returns]

In [54]:
totalSignals=[]
for s in signals:
    totalSignals=totalSignals+s

In [55]:
def countBuySell(signal):
    buy=0
    sell=0
    for s in signal['signal']:
        if s=='buy': 
            buy=buy+1
        elif s=='sell':
            sell=sell+1

    return {
        'lower_p': signal['lower_p'],
        'lower_short': signal['lower_short'],
        'lower_long': signal['lower_long'],
        'upper_p': signal['upper_p'],
        'upper_short': signal['upper_short'],
        'upper_long': signal['upper_long'],
        'buy_n':buy,
        'sell_n':sell
    }

rows=[countBuySell(signal) for signal in totalSignals]
df=pd.DataFrame(rows)
df

,lower_p,lower_short,lower_long,upper_p,upper_short,upper_long,buy_n,sell_n
0,1.000000e-10,16,50,1.000000e-10,16,50,8,3
1,1.000000e-10,16,50,1.000000e-09,16,50,8,6
2,1.000000e-10,16,50,1.000000e-08,16,50,8,12
3,1.000000e-10,16,50,1.000000e-07,16,50,8,16
4,1.000000e-10,16,50,1.000000e-06,16,50,8,30
...,...,...,...,...,...,...,...,...
1265620,1.000000e-02,33,100,1.000000e-06,33,100,193,27
1265621,1.000000e-02,33,100,1.000000e-05,33,100,193,29
1265622,1.000000e-02,33,100,1.000000e-04,33,100,193,30
1265623,1.000000e-02,33,100,1.000000e-03,33,100,193,45
1265624,1.000000e-02,33,100,1.000000e-02,33,100,193,112

In [56]:
lengths=[len(s['signal']) for s in totalSignals]
meanSignalLength=sum(lengths)/len(lengths)
meanSignalLength

2518.0

In [57]:
sellDf=df.groupby('upper_p').sell_n.mean().to_frame()
sellDf['sell_perc']=sellDf.sell_n/meanSignalLength
sellDf

                  sell_n  sell_perc
upper_p
1.000000e-10    4.725888   0.001877
1.000000e-09    6.510201   0.002585
1.000000e-08    9.374706   0.003723
1.000000e-07   13.788459   0.005476
1.000000e-06   21.203051   0.008421
1.000000e-05   34.917696   0.013867
1.000000e-04   60.915392   0.024192
1.000000e-03  114.483008   0.045466
1.000000e-02  240.047701   0.095333

In [58]:
buyDf=df.groupby('lower_p').buy_n.mean().to_frame()
buyDf['buy_perc']=buyDf.buy_n/meanSignalLength
buyDf

                 buy_n  buy_perc
lower_p
1.000000e-10   14.7008  0.005838
1.000000e-09   18.2384  0.007243
1.000000e-08   23.2320  0.009226
1.000000e-07   30.7472  0.012211
1.000000e-06   42.4128  0.016844
1.000000e-05   61.3904  0.024381
1.000000e-04   94.2240  0.037420
1.000000e-03  156.1232  0.062003
1.000000e-02  283.4352  0.112564